<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.health.app.users.UserMapper">

    <select id="countByLoginId" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE login_id = #{loginId}
    </select>

    <insert id="insertUser" parameterType="com.health.app.users.UserDTO">
        INSERT INTO users (
            login_id,
            password,
            name,
            post_no,
            base_address,
    		detail_address,
            department_code,
            email,
            phone,
            branch_id,
            status_code,
            role_code,
            lock_status_code,
            fail_count,
            use_yn,
            create_user,
            create_date
        ) VALUES (
            #{loginId},
            #{password},
            #{name},
            #{postNo},
		    #{baseAddress},
		    #{detailAddress},
            #{departmentCode},
            #{email},
            #{phone},
            #{branchId},
            #{statusCode},
            #{roleCode},
            #{lockStatusCode},
            #{failCount},
            #{useYn},
            #{createUser},
            NOW()
        )
    </insert>
    
    <select id="selectByLoginId"
        parameterType="java.lang.String"
        resultType="com.health.app.users.UserDTO">
    SELECT
        user_id,
        login_id,
        name,
        email,
        phone,
        department_code,
        branch_id,
        post_no,
        base_address,
        detail_address,
        role_code,
        status_code,
        lock_status_code
    FROM users
    WHERE login_id = #{loginId}
      AND use_yn = TRUE
</select>

<update id="updateUser" parameterType="com.health.app.users.UserDTO">
    UPDATE users
    SET
        name = #{name},
        email = #{email},
        phone = #{phone},
        department_code = #{departmentCode},
        branch_id = #{branchId},
        post_no = #{postNo},
        base_address = #{baseAddress},
        detail_address = #{detailAddress}
    WHERE login_id = #{loginId}
</update>

<update id="updatePassword">
    UPDATE users
    SET password = #{password}
    WHERE login_id = #{loginId}
</update>

    <select id="selectForPasswordCheck"
        parameterType="java.lang.String"
        resultType="com.health.app.users.UserDTO">
    SELECT login_id, password
    FROM users
    WHERE login_id = #{loginId}
      AND use_yn = TRUE
</select>

<update id="withdraw" parameterType="string">
    UPDATE users
    SET
        use_yn = FALSE,
        update_date = NOW()
    WHERE login_id = #{loginId}
</update>

    

</mapper>
